<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post list</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div><hr>
        <p>published: 14.06.2014, 12:14</p>
        
            {% for post in posts %}
            <hr><tr>  
                <td>{{  post.title }}</td>
                <td>{{  post.published_date }}</td>
                <td>{{  post.text|linebreaksbr }}</td>
              </tr> 
       
      {% endfor %}
</body>
</html>